.box{
    background-color: black;
    padding: 10px;
}

.text{
    color: aqua;
    font-size: clamp(1rem, 2vw, 2rem);
    text-align: left;
}

.value{
    font-size: clamp(1rem, 2vw, 2rem);
    text-align: right;
}